*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #666;
    text-align: center;
}

audio{
    width: 450px;
    margin: 30px 0;
}
.container{
    height: 420px;
    overflow: hidden;
    /* border: 2px solid #fff; */
}
.container ul{
    list-style: none;
    transition: 0.2s;
    /* transition 只对数值的属性奇效 */
}
.container li{
    height: 30px;
    line-height: 30px;
    transition: 0.2s;
}
.container li.active{
    color: #fff;
    /* font-size: 4em;不用这个放大效果，因为会导致回流 ，用transform，不影响绘制*/
    transform: scale(1.2);
}
